
body {
  background-color: blue;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}


h1 {
  color: green;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans-serif;
}


.categoria {
  background-color: white;
  color: blue;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;
}


.item {
  list-style-type: none;
  font-size: 18px;
  margin: 5px 0;
}


.bebida {
  color: orange;
  background-color: white;
  padding: 5px;
 
}


.sobremesa {
  color: red;
  background-color: gray;
  padding: 5px;

}


footer {
  text-align: center;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: Arial, sans-serif;
}
